In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip")
data

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
0,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
1,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10,0.70,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
2,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
3,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
4,"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,...,21.92,2015-05-16T01:29:00,3,1,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
674,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
675,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
676,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
677,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [3]:
data.describe(include="all")

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
count,678,678,678,678,678,678,678,678,678,678,...,678.000000,678,678.000000,678.000000,678.000000,678.000000,678,678,678,678
unique,678,2,2,678,628,1,1,677,677,576,...,NaN,677,NaN,NaN,NaN,NaN,99,9,13,3
top,"November 27, 2017 at 05:58PM",Completed,Uber,94ff538a9dcf0c637e60681582036a6e,164cdace271ca4165ded891d0c2fdd14,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2017-08-17 22:11:00,2017-08-17 22:59:00,00:25:39,...,NaN,2017-08-17T22:11:00,NaN,NaN,NaN,NaN,1,partly-cloudy-day,Mostly Cloudy,none
freq,1,668,642,1,13,678,678,2,2,3,...,NaN,2,NaN,NaN,NaN,NaN,85,281,259,564
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.057788,NaN,5.327434,3.002950,0.778083,3.541519,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.735132,NaN,9.996551,11.912408,0.164886,1.737701,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.010000,NaN,-22.000000,-29.000000,0.250000,0.050000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.912500,NaN,-2.000000,-5.750000,0.690000,2.350000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.290000,NaN,3.000000,0.000000,0.820000,3.500000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.665000,NaN,14.000000,14.000000,0.900000,4.660000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.740000,NaN,32.000000,32.000000,1.000000,8.670000,NaN,NaN,NaN,NaN

In [3]:
data.shape

(678, 45)

In [4]:
data.empty

False

In [5]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",nrows=4)
data

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
0,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
1,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10,0.70,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
2,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
3,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none

In [6]:
data.columns

Index(['trip_completed_at', 'trip_status', 'ride_hailing_app', 'trip_uid',
       'driver_uid', 'rider_uid', 'customer', 'trip_start_time',
       'trip_end_time', 'trip_time', 'total_time', 'wait_time', 'trip_type',
       'surge_multiplier', 'vehicle_make_model', 'vehicle_license_plate',
       'driver_name_en', 'vehicle_make', 'vehicle_model', 'driver_gender',
       'driver_photo_url', 'driver_phone_number', 'pickup_lat', 'pickup_long',
       'dropoff_lat', 'dropoff_long', 'trip_map_image_url',
       'trip_path_image_url', 'city', 'country', 'trip_start_address',
       'trip_end_address', 'rub_usd_exchange_rate', 'price_rub', 'price_usd',
       'distance_kms', 'temperature_time', 'temperature_value', 'feels_like',
       'humidity', 'wind_speed', 'cloudness', 'weather_main', 'weather_desc',
       'precipitation'],
      dtype='object')

In [7]:
type(data)

pandas.core.frame.DataFrame

In [8]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",names=[4])
data

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           4
trip_completed_at         trip_status ride_hailing_app trip_uid                         driver_uid                       rider_uid                        customer trip_start_time     trip_end_time       trip_time total_time wait_time trip_type surge_multiplier vehicle_make_model    vehicle_license_plate driver_name_en vehicle_make  vehicle_model driver_gender driver_photo_url driver_phone_number pickup_lat  pickup_long dropoff_lat dropoff_long trip_map_image_url trip_path_image_url city             country trip_start_address                                 trip_end_address                                   rub_usd_exchange_rate price_rub price_usd distance_kms temperature_time    temperature_value feels_like humidity wind_speed cloudness weather_main        weather_desc   precipitation
May 11, 2015 at 6:55PM    Completed   Uber             ee89076fd9da9bddf5f096b0ca42f8d5 05cfeb269e606247fe9d2b6082942c59 3ffa4a71a5aa791a8bc3409f5b15b936 stantyan 2015-05-11 17:26:00 2015-05-11 17:55:00 00:21:33  00:29:00   00:07:27  uberX     1                Ford Focus            [ANONYMIZED]          Maksim         Ford          Focus         Male          [ANONYMIZED]     [ANONYMIZED]        60.03143761 30.32982593 59.96313143 30.30765496  [ANONYMIZED]       [ANONYMIZED]        Saint Petersburg Russia  ulitsa Esenina, 3 корпус 1, Sankt-Peterburg, Ru... Bolshoy prospekt PS, 74, Sankt-Peterburg, Russi... 51.28                 265.00    5.17      9.29         2015-05-11T17:26:00 12                12         0.69     4.81       0.78      partly-cloudy-day   Mostly Cloudy           none
May 11, 2015 at 8:12PM    Completed   Uber             518be51d403944a03c47e8d1f2c87311 4a4e248742f9d5ff517c5bbbb48d0e54 3ffa4a71a5aa791a8bc3409f5b15b936 stantyan 2015-05-11 18:46:00 2015-05-11 19:12:00 00:19:27  00:26:00   00:06:33  uberX     1                Hyundai Solaris       [ANONYMIZED]          Sergey         Hyundai       Solaris       Male          [ANONYMIZED]     [ANONYMIZED]        59.96301417 30.30731265 60.03135115 30.32949527  [ANONYMIZED]       [ANONYMIZED]        Saint Petersburg Russia  Podrezova ulitsa, 2, Sankt-Peterburg, Russia, 1... ulitsa Esenina, 1 корпус 1, Sankt-Peterburg, Ru... 51.28                 255.00    4.97      9.93         2015-05-11T18:46:00 10                10         0.7      6.53       0.66      partly-cloudy-day   Mostly Cloudy           none
May 13, 2015 at 11:38AM   Completed   Uber             6e460cc8a12c3c6568d0d4a67ac58393 cb249a2bd807ca78697b4ed0348c37da 3ffa4a71a5aa791a8bc3409f5b15b936 stantyan 2015-05-13 09:15:00 2015-05-13 10:38:00 01:06:53  01:23:00   00:16:07  uberX     1                Renault Fluence       [ANONYMIZED]          Oleg           Renault       Fluence       Male          [ANONYMIZED]     [ANONYMIZED]        60.0315292  30.329416   59.924281   30.3875608   [ANONYMIZED]       [ANONYMIZED]        Saint Petersburg Russia  ulitsa Esenina, 3 корпус 1, Sankt-Peterburg, Ru... ploshchad' Aleksandra Nevskogo, 2, Sankt-Peterb... 49.50                 644.00    13.01     18.01        2015-05-13T09:15:00 14                14         0.61     5.25       0.86      partly-cloudy-day   Mostly Cloudy           none
May 16, 2015 at 1:44AM    Completed   Uber             49613a86a04e6c15d72b51d1a2935d81 d3f73f8151c2e8c34b541f961db7f5fa 3ffa4a71a5aa791a8bc3409f5b15b936 stantyan 2015-05-16 00:24:00 2015-05-16 00:44:00 00:13:37  00:20:00   00:06:23  uberBLACK 2.9              Mercedes-Benz E-Class [ANONYMIZED]          Maksim         Mercedes-Benz E-Class       Male          [ANONYMIZED]     [ANONYMIZED]        59.95988306 30.31115921 59.93467988 30.30848929  [ANONYMIZED]       [ANONYMIZED]        Saint Petersburg Russia  Pushkarskiy pereulok, Sankt-Peterburg, Russia, ... Voznesenskiy prospekt, 3, Sankt-Peterburg, Russ... 49.53                 1287.00   25.99     5.10         2015-05-16T00:24:00 3                 3          0.84     0.87       0.56      partly-cloudy-night Partly Cloudy           none
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
April 23, 2018 at 12:11PM Completed   Uber             ce5bdea8e9c366b2f9f9cdf1bb879965 e96ad9d6f2f0b2c55b2fa2c284507543 3ffa4a71a5aa791a8bc3409f5b15b936 stantyan 2018-04-23 11:59:00 2018-04-23 12:11:00 00:10:37  00:12:00   00:01:23  uberX     1                Hyundai Solaris       [ANONYMIZED]          Sergey         Hyundai       Solaris       Male          [ANONYMIZED]     [ANONYMIZED]        59.939274   30.416977   59.9462     30.474258    [ANONYMIZED]       [ANONYMIZED]        Saint Petersburg Russia  Yakornaya Ulitsa, 5А, Sankt-Peterburg, Russia, ... Industrial'nyy Prospekt, 24, лит. А, St Petersb... 61.82                 161.00    2.60      5.79         2018-04-23T11:59:00 6                 4          0.39     2.57       0.18      clear-day           Clear                   none
April 24, 2018 at 02:58PM Completed   Uber             3a1df88ce67d8f749ac5f09da8b4dadf e63e621e61b493e119239f5ff635810d 3ffa4a71a5aa791a8bc3409f5b15b936 stantyan 2018-04-24 14:21:00 2018-04-24 14:58:00 00:23:41  00:37:00   00:13:19  uberX     1                Dongfeng H30          [ANONYMIZED]          Aleksandr      Dongfeng      H30           Male          [ANONYMIZED]     [ANONYMIZED]        59.941415   30.3664563  60.011173   30.386566    [ANONYMIZED]       [ANONYMIZED]        Saint Petersburg Russia  Paradnaya Ulitsa, 3, Sankt-Peterburg, Russia, 1... Gzhatskaya Ulitsa, 22, Sankt-Peterburg, Russia,... 61.54                 241.00    3.92      11.46        2018-04-24T14:21:00 7                 3          0.62     5.37       0.48      partly-cloudy-day   Partly Cloudy           none
April 26, 2018 at 03:57PM Completed   Uber             1879ce44367d4cc555479253323ec36d b65196da38435a1dbe8e9009b514a7b8 3ffa4a71a5aa791a8bc3409f5b15b936 stantyan 2018-04-26 15:22:00 2018-04-26 15:57:00 00:16:20  00:35:00   00:18:40  uberX     1                Chevrolet Aveo        [ANONYMIZED]          Akmal          Chevrolet     Aveo          Male          [ANONYMIZED]     [ANONYMIZED]        59.941415   30.3664563  59.916832   30.450724    [ANONYMIZED]       [ANONYMIZED]        Saint Petersburg Russia  Paradnaya Ulitsa, 3, Sankt-Peterburg, Russia, 1... Ulitsa Dzhona Rida, 2, Sankt-Peterburg, Russia,... 62.68                 174.00    2.78      6.68         2018-04-26T15:22:00 8                 6          0.76     4.02       0.9       partly-cloudy-day   Mostly Cloudy           none
April 26, 2018 at 05:00PM Completed   Uber             7a237cb245b6ca854498ecb7c842beb3 2af94300321de81edc1eeef8c041fd9a 3ffa4a71a5aa791a8bc3409f5b15b936 stantyan 2018-04-26 16:37:00 2018-04-26 17:00:00 00:19:19  00:23:00   00:03:41  uberX     1                Skoda Rapid           [ANONYMIZED]          Evgeniy        Skoda         Rapid         Male          [ANONYMIZED]     [ANONYMIZED]        59.916862   30.45102    59.941415   30.3664563   [ANONYMIZED]       [ANONYMIZED]        Saint Petersburg Russia  Ulitsa Dzhona Rida, 2, Sankt-Peterburg, Russia,... Paradnaya Ulitsa, 3, Sankt-Peterburg, Russia, 1... 62.68                 209.00    3.33      7.48         2018-04-26T16:37:00 9                 7          0.68     4.28       0.79      partly-cloudy-day   Mostly Cloudy           none
April 27, 2018 at 03:05PM Completed   Uber             f794daa1e63029828ec58248549815d2 ab02b9b447412505a2f42cefab54520b 3ffa4a71a5aa791a8bc3409f5b15b936 stantyan 2018-04-27 14:15:00 2018-04-27 15:05:00 00:32:46  00:50:00   00:17:14  uberX     1                Skoda Octavia         [ANONYMIZED]          Ref            Skoda         Octavia       Male          [ANONYMIZED]     [ANONYMIZED]        59.941415   30.3664563  59.955692   30.35657     [ANONYMIZED]       [ANONYMIZED]        Saint Petersburg Russia  Paradnaya Ulitsa, 3, Sankt-Peterburg, Russia, 1... Botkinskaya Ulitsa, 1Б, Sankt-Peterburg, Russia... 62.13                 212.00    3.41      9.03         2018-04-27T14:15:00 8                 7          0.77     1.56       0.75      partly-cloudy-day   Mostly Cloudy           none

[679 rows x 1 columns]

In [9]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",usecols=[2])
data

    ride_hailing_app
0               Uber
1               Uber
2               Uber
3               Uber
4               Uber
..               ...
673             Uber
674             Uber
675             Uber
676             Uber
677             Uber

[678 rows x 1 columns]

In [10]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",skiprows=4)
data

,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3.1,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
0,"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,...,21.92,2015-05-16T01:29:00,3,1,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
1,"May 18, 2015 at 11:06AM",Completed,Uber,5c0312a92ff104197d799c42ae67542f,fc6b1516376f15c97e508d904505d27a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-18 09:32:00,2015-05-18 10:06:00,00:16:38,...,4.88,2015-05-18T09:32:00,7,5,0.83,2.73,0.99,cloudy,Overcast,none
2,"May 18, 2015 at 11:08PM",Completed,Uber,4ad2e954813b53afeb73ce659ac3376c,1b926e88a8477f7b5d1fad298e00fb11,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-18 21:24:00,2015-05-18 22:08:00,00:40:24,...,18.65,2015-05-18T21:24:00,6,3,0.89,4.08,0.98,cloudy,Overcast,none
3,"May 19, 2015 at 9:10AM",Completed,Uber,1e3935b05addc654d65e72b8da96fd43,439ae2cf8ae38bc24b2f8dbc3f0b987d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-19 07:12:00,2015-05-19 08:10:00,00:41:56,...,12.62,2015-05-19T07:12:00,6,4,0.96,3.96,0.89,partly-cloudy-day,Mostly Cloudy,none
4,"May 19, 2015 at 12:37PM",Completed,Uber,0eb9a9f7a3fd598c885c67af75645c06,75a4c47c323bcc96ac5849052b19ed5f,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-19 11:22:00,2015-05-19 11:37:00,00:10:06,...,5.94,2015-05-19T11:22:00,8,5,0.88,4.64,0.84,partly-cloudy-day,Mostly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
670,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
671,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
672,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
673,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [11]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",index_col='trip_completed_at')
data

,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,total_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
trip_completed_at,,,,,,,,,,,,,,,,,,,,,
"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,00:29:00,...,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,00:26:00,...,9.93,2015-05-11T18:46:00,10,10,0.70,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,01:23:00,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,00:20:00,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,00:49:00,...,21.92,2015-05-16T01:29:00,3,1,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,00:12:00,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,00:37:00,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,00:35:00,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,00:23:00,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,00:50:00,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [12]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",header=1)
data

,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12.1,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
0,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10,0.70,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
1,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
2,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
3,"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,...,21.92,2015-05-16T01:29:00,3,1,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
4,"May 18, 2015 at 11:06AM",Completed,Uber,5c0312a92ff104197d799c42ae67542f,fc6b1516376f15c97e508d904505d27a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-18 09:32:00,2015-05-18 10:06:00,00:16:38,...,4.88,2015-05-18T09:32:00,7,5,0.83,2.73,0.99,cloudy,Overcast,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
673,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
674,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
675,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
676,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [13]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",header=2)
data

,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10.1,0.7,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
0,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
1,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
2,"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,...,21.92,2015-05-16T01:29:00,3,1,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
3,"May 18, 2015 at 11:06AM",Completed,Uber,5c0312a92ff104197d799c42ae67542f,fc6b1516376f15c97e508d904505d27a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-18 09:32:00,2015-05-18 10:06:00,00:16:38,...,4.88,2015-05-18T09:32:00,7,5,0.83,2.73,0.99,cloudy,Overcast,none
4,"May 18, 2015 at 11:08PM",Completed,Uber,4ad2e954813b53afeb73ce659ac3376c,1b926e88a8477f7b5d1fad298e00fb11,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-18 21:24:00,2015-05-18 22:08:00,00:40:24,...,18.65,2015-05-18T21:24:00,6,3,0.89,4.08,0.98,cloudy,Overcast,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
672,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
673,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
674,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
675,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [14]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",header=None)
data

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
0,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
1,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
2,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10,0.7,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
3,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
4,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
675,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
676,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
677,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
678,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [15]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",header=None,prefix='col')
data

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col35,col36,col37,col38,col39,col40,col41,col42,col43,col44
0,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
1,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
2,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10,0.7,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
3,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
4,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
675,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
676,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
677,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
678,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [16]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",names=['a','b','c','ag','by','cy'])
data

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,a,b,c,ag,by,cy
trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,total_time,wait_time,trip_type,surge_multiplier,vehicle_make_model,vehicle_license_plate,driver_name_en,vehicle_make,vehicle_model,driver_gender,driver_photo_url,driver_phone_number,pickup_lat,pickup_long,dropoff_lat,dropoff_long,trip_map_image_url,trip_path_image_url,city,country,trip_start_address,trip_end_address,rub_usd_exchange_rate,price_rub,price_usd,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,00:29:00,00:07:27,uberX,1,Ford Focus,[ANONYMIZED],Maksim,Ford,Focus,Male,[ANONYMIZED],[ANONYMIZED],60.03143761,30.32982593,59.96313143,30.30765496,[ANONYMIZED],[ANONYMIZED],Saint Petersburg,Russia,"ulitsa Esenina, 3 корпус 1, Sankt-Peterburg, Russia, 194354","Bolshoy prospekt PS, 74, Sankt-Peterburg, Russia, 197136",51.28,265.00,5.17,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,00:26:00,00:06:33,uberX,1,Hyundai Solaris,[ANONYMIZED],Sergey,Hyundai,Solaris,Male,[ANONYMIZED],[ANONYMIZED],59.96301417,30.30731265,60.03135115,30.32949527,[ANONYMIZED],[ANONYMIZED],Saint Petersburg,Russia,"Podrezova ulitsa, 2, Sankt-Peterburg, Russia, 197136","ulitsa Esenina, 1 корпус 1, Sankt-Peterburg, Russia, 194354",51.28,255.00,4.97,9.93,2015-05-11T18:46:00,10,10,0.7,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,01:23:00,00:16:07,uberX,1,Renault Fluence,[ANONYMIZED],Oleg,Renault,Fluence,Male,[ANONYMIZED],[ANONYMIZED],60.0315292,30.329416,59.924281,30.3875608,[ANONYMIZED],[ANONYMIZED],Saint Petersburg,Russia,"ulitsa Esenina, 3 корпус 1, Sankt-Peterburg, Russia, 194354","ploshchad' Aleksandra Nevskogo, 2, Sankt-Peterburg, Russia, 191317",49.50,644.00,13.01,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,00:20:00,00:06:23,uberBLACK,2.9,Mercedes-Benz E-Class,[ANONYMIZED],Maksim,Mercedes-Benz,E-Class,Male,[ANONYMIZED],[ANONYMIZED],59.95988306,30.31115921,59.93467988,30.30848929,[ANONYMIZED],[ANONYMIZED],Saint Petersburg,Russia,"Pushkarskiy pereulok, Sankt-Peterburg, Russia, 197101","Voznesenskiy prospekt, 3, Sankt-Peterburg, Russia, 190000",49.53,1287.00,25.99,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,00:12:00,00:01:23,uberX,1,Hyundai Solaris,[ANONYMIZED],Sergey,Hyundai,Solaris,Male,[ANONYMIZED],[ANONYMIZED],59.939274,30.416977,59.9462,30.474258,[ANONYMIZED],[ANONYMIZED],Saint Petersburg,Russia,"Yakornaya Ulitsa, 5А, Sankt-Peterburg, Russia, 195027","Industrial'nyy Prospekt, 24, лит. А, St Petersburg, Russia, 195279",61.82,161.00,2.60,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,00:37:00,00:13:19,uberX,1,Dongfeng H30,[ANONYMIZED],Aleksandr,Dongfeng,H30,Male,[ANONYMIZED],[ANONYMIZED],59.941415,30.3664563,60.011173,30.386566,[ANONYMIZED],[ANONYMIZED],Saint Petersburg,Russia,"Paradnaya Ulitsa, 3, Sankt-Peterburg, Russia, 191014","Gzhatskaya Ulitsa, 22, Sankt-Peterburg, Russia, 195220",61.54,241.00,3.92,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,00:35:00,00:18:40,uberX,1,Chevrolet Aveo,[ANONYMIZED],Akmal,Chevrolet,Aveo,Male,[ANONYMIZED],[ANONYMIZED],59.941415,30.3664563,59.916832,30.450724,[ANONYMIZED],[ANONYMIZED],Saint Petersburg,Russia,"Paradnaya Ulitsa, 3, Sankt-Peterburg, Russia, 191014","Ulitsa Dzhona Rida, 2, Sankt-Peterburg, Russia, 193318",62.68,174.00,2.78,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,00:23:00,00:03:41,uberX,1,Skoda Rapid,[ANONYMIZED],Evgeniy,Skoda,Rapid,Male,[ANONYMIZED],[ANONYMIZED],59.916862,30.45102,59.941415,30.3664563,[ANONYMIZED],[ANONYMIZED],Saint Petersburg,Russia,"Ulitsa Dzhona Rida, 2, Sankt-Peterburg, Russia, 193318","Paradnaya Ulitsa, 3, Sankt-Peterburg, Russia, 191014",62.68,209.00,3.33,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,00:50:00,00:17:14,uberX,1,Skoda Octavia,[ANONYMIZED],Ref,Skoda,Octavia,Male,[ANONYMIZED],[ANONYMIZED],59.941415,30.3664563,59.955692,30.35657,[ANONYMIZED],[ANONYMIZED],Saint Petersburg,Russia,"Paradnaya Ulitsa, 3, Sankt-Peterburg, Russia, 191014","Botkinskaya Ulitsa, 1Б, Sankt-Peterburg, Russia, 195009",62.13,212.00,3.41,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [17]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",dtype={'feels_like':'float64'})
data

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
0,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12.0,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
1,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10.0,0.70,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
2,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14.0,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
3,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3.0,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
4,"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,...,21.92,2015-05-16T01:29:00,3,1.0,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4.0,0.39,2.57,0.18,clear-day,Clear,none
674,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3.0,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
675,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6.0,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
676,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7.0,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
677,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7.0,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [18]:
data=pd.read_csv("C:/Users/routs/Downloads/uber-rides.zip",true_values=[''])
data

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
0,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
1,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10,0.70,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
2,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
3,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
4,"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,...,21.92,2015-05-16T01:29:00,3,1,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
674,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
675,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
676,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
677,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [19]:
data.isnull()

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
674,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
675,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
676,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
677,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
data.isnull().sum()

trip_completed_at         0
trip_status               0
ride_hailing_app          0
trip_uid                  0
driver_uid                0
rider_uid                 0
customer                  0
trip_start_time           0
trip_end_time             0
trip_time                 0
total_time                0
wait_time                 0
trip_type                 0
surge_multiplier         35
vehicle_make_model        0
vehicle_license_plate     0
driver_name_en            0
vehicle_make              0
vehicle_model             0
driver_gender             0
driver_photo_url          0
driver_phone_number       0
pickup_lat                0
pickup_long               0
dropoff_lat               0
dropoff_long              0
trip_map_image_url        0
trip_path_image_url       0
city                      0
country                   0
trip_start_address        0
trip_end_address          0
rub_usd_exchange_rate     0
price_rub                 0
price_usd                 0
distance_kms              0
temperature_time          0
temperature_value         0
feels_like                0
humidity                  0
wind_speed                0
cloudness                 0
weather_main              0
weather_desc              0
precipitation             0
dtype: int64

In [21]:
data.isnull().sum().sum()

35

In [22]:
data.notnull()

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
674,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
675,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
676,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
677,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [23]:
data.notnull().sum()

trip_completed_at        678
trip_status              678
ride_hailing_app         678
trip_uid                 678
driver_uid               678
rider_uid                678
customer                 678
trip_start_time          678
trip_end_time            678
trip_time                678
total_time               678
wait_time                678
trip_type                678
surge_multiplier         643
vehicle_make_model       678
vehicle_license_plate    678
driver_name_en           678
vehicle_make             678
vehicle_model            678
driver_gender            678
driver_photo_url         678
driver_phone_number      678
pickup_lat               678
pickup_long              678
dropoff_lat              678
dropoff_long             678
trip_map_image_url       678
trip_path_image_url      678
city                     678
country                  678
trip_start_address       678
trip_end_address         678
rub_usd_exchange_rate    678
price_rub                678
price_usd                678
distance_kms             678
temperature_time         678
temperature_value        678
feels_like               678
humidity                 678
wind_speed               678
cloudness                678
weather_main             678
weather_desc             678
precipitation            678
dtype: int64

In [24]:
data.notnull().sum().sum()

30475

# series

In [25]:
import numpy as np

In [26]:
ser=pd.Series([1,2,3,4,5,np.nan,6,7,8,np.NAN])
ser

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
7    7.0
8    8.0
9    NaN
dtype: float64

In [27]:
ser.isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9     True
dtype: bool

In [28]:
ser.isnull().sum()

2

In [29]:
ser.dropna()

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
6    6.0
7    7.0
8    8.0
dtype: float64

In [30]:
ser.dropna(axis=1)

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [31]:
ser.dropna(how='any')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
6    6.0
7    7.0
8    8.0
dtype: float64

In [32]:
ser.dropna(axis=1,how='any')

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [33]:
data.dropna(axis=1,how='any')

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
0,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
1,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10,0.70,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
2,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
3,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
4,"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,...,21.92,2015-05-16T01:29:00,3,1,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
674,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
675,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
676,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
677,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [34]:
ser.dropna(how='all')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
6    6.0
7    7.0
8    8.0
dtype: float64

In [35]:
data.dropna(thresh=2)

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
0,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
1,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10,0.70,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
2,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
3,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
4,"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,...,21.92,2015-05-16T01:29:00,3,1,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
674,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
675,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
676,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
677,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [36]:
data.dropna(subset=['surge_multiplier'])

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
0,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
1,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10,0.70,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
2,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
3,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
4,"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,...,21.92,2015-05-16T01:29:00,3,1,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
674,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
675,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
676,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
677,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [37]:
data.dropna(inplace=True)

In [38]:
data.fillna(2)

,trip_completed_at,trip_status,ride_hailing_app,trip_uid,driver_uid,rider_uid,customer,trip_start_time,trip_end_time,trip_time,...,distance_kms,temperature_time,temperature_value,feels_like,humidity,wind_speed,cloudness,weather_main,weather_desc,precipitation
0,"May 11, 2015 at 6:55PM",Completed,Uber,ee89076fd9da9bddf5f096b0ca42f8d5,05cfeb269e606247fe9d2b6082942c59,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 17:26:00,2015-05-11 17:55:00,00:21:33,...,9.29,2015-05-11T17:26:00,12,12,0.69,4.81,0.78,partly-cloudy-day,Mostly Cloudy,none
1,"May 11, 2015 at 8:12PM",Completed,Uber,518be51d403944a03c47e8d1f2c87311,4a4e248742f9d5ff517c5bbbb48d0e54,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-11 18:46:00,2015-05-11 19:12:00,00:19:27,...,9.93,2015-05-11T18:46:00,10,10,0.70,6.53,0.66,partly-cloudy-day,Mostly Cloudy,none
2,"May 13, 2015 at 11:38AM",Completed,Uber,6e460cc8a12c3c6568d0d4a67ac58393,cb249a2bd807ca78697b4ed0348c37da,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-13 09:15:00,2015-05-13 10:38:00,01:06:53,...,18.01,2015-05-13T09:15:00,14,14,0.61,5.25,0.86,partly-cloudy-day,Mostly Cloudy,none
3,"May 16, 2015 at 1:44AM",Completed,Uber,49613a86a04e6c15d72b51d1a2935d81,d3f73f8151c2e8c34b541f961db7f5fa,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 00:24:00,2015-05-16 00:44:00,00:13:37,...,5.10,2015-05-16T00:24:00,3,3,0.84,0.87,0.56,partly-cloudy-night,Partly Cloudy,none
4,"May 16, 2015 at 3:18AM",Completed,Uber,9896148fdecdb4c5d977a8691510bdb6,1287d21e6455ee40d4861f6b91c680f4,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2015-05-16 01:29:00,2015-05-16 02:18:00,00:38:54,...,21.92,2015-05-16T01:29:00,3,1,0.90,1.61,0.31,partly-cloudy-night,Partly Cloudy,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,"April 23, 2018 at 12:11PM",Completed,Uber,ce5bdea8e9c366b2f9f9cdf1bb879965,e96ad9d6f2f0b2c55b2fa2c284507543,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-23 11:59:00,2018-04-23 12:11:00,00:10:37,...,5.79,2018-04-23T11:59:00,6,4,0.39,2.57,0.18,clear-day,Clear,none
674,"April 24, 2018 at 02:58PM",Completed,Uber,3a1df88ce67d8f749ac5f09da8b4dadf,e63e621e61b493e119239f5ff635810d,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-24 14:21:00,2018-04-24 14:58:00,00:23:41,...,11.46,2018-04-24T14:21:00,7,3,0.62,5.37,0.48,partly-cloudy-day,Partly Cloudy,none
675,"April 26, 2018 at 03:57PM",Completed,Uber,1879ce44367d4cc555479253323ec36d,b65196da38435a1dbe8e9009b514a7b8,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 15:22:00,2018-04-26 15:57:00,00:16:20,...,6.68,2018-04-26T15:22:00,8,6,0.76,4.02,0.9,partly-cloudy-day,Mostly Cloudy,none
676,"April 26, 2018 at 05:00PM",Completed,Uber,7a237cb245b6ca854498ecb7c842beb3,2af94300321de81edc1eeef8c041fd9a,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-26 16:37:00,2018-04-26 17:00:00,00:19:19,...,7.48,2018-04-26T16:37:00,9,7,0.68,4.28,0.79,partly-cloudy-day,Mostly Cloudy,none
677,"April 27, 2018 at 03:05PM",Completed,Uber,f794daa1e63029828ec58248549815d2,ab02b9b447412505a2f42cefab54520b,3ffa4a71a5aa791a8bc3409f5b15b936,stantyan,2018-04-27 14:15:00,2018-04-27 15:05:00,00:32:46,...,9.03,2018-04-27T14:15:00,8,7,0.77,1.56,0.75,partly-cloudy-day,Mostly Cloudy,none

In [39]:
ser.fillna(0)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    0.0
6    6.0
7    7.0
8    8.0
9    0.0
dtype: float64

In [ ]:
ser.fillna()